.log_container {
	background-color: #9B59B6;
	height: 82px;
	min-width: 980px;
}

.header {
	background-color: #9B59B6;
	height: 50px;
	min-width: 980px;
}

.inline {
	display: inline-block;
}

.cfix {
	zoom: 1;
}

.log_bar {
	margin: 0 auto;
	padding-top: 6px;
	width: 980px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.menu_log {
	vertical-align: top;
	width: 380px;
}


.contenedorGlobal {
	margin: 0 auto;
	position: relative;
	background-color: #EFF8FB;
	zoom: 1;
	display: block;
	min-height: 550px;
}

.contenido {
	margin: 0;
	outline: none;
	padding: 0;
	width: auto;
}

.centerDiv {
	min-width: 980px;
}

.panel1 {
	margin-right: 15px;
	width: 45%;
}

.panel3 {
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #E6E6E6;
	display: block;
	width: 250px;
}

.panel5 {
	margin-top: 20px;
	
	margin-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	
	padding-bottom: 10px;
	
	display: block;
	width: 250px;
}

.panel4 {
	margin-right: 20px;
	margin-top: 20px;
	margin-left: 15px;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 69%;
	background-color: #E6E6E6;
	display: block;
}

.panel2 {
	width: 55%;
}

.div1 {
	margin: 0 auto 0 auto;
	padding-bottom: 30px;
}

.divRow {
	width: 399px;
}

.inputRow {
	width: 194px;
	display: inline-block;
	position: relative;
}

.marginR {
	margin-right: 10px;
}

.marginBS {
	margin-bottom: 5px;
}

.marginBM {
	margin-bottom: 15px;
}

.marginTM {
	margin-top: 20px;
}

.input_largeW {
	font-size: 18px;
	padding: 8px 10px;
	margin: 0;
	width: 398px;
}

.input_smallW {
	width: 50px;
}

.relative {
	position: relative;
}

.footer {
	background-color: #FFF;
	height: 60px;
	min-width: 980px;
}

.contPrincipal {
	border-right: 1px solid #ccc;
	min-height: 600px;
	margin-left: -1px;
	display: block;
	width: 100%;
}

.bloqueLeft {
	float: left;
	padding: 20px 0 0 2px;
	position: relative;
	width: 230px;
	word-wrap: break-word;
	display: block;
	
}

.bloqueRight
{
	float: right;
	padding: 20px 0 0 2px;
	position: relative;
	width: 200px;
	display: block;
}

.divCentral {
	padding-top: 5px;
	padding-left: 0;
	padding-right: 0;
	border-left: 1px solid #ccc;
	margin-left: 230px;
	min-height: 550px;
	background-color: #fff;
	overflow:auto;
}

.iniBox {
	margin-left: 20px;
}

.iniBox .userName {
	display: block;
	font-weight: bold;
	width: 112px;
	word-wrap: break-word;
}

.iniBox .innerBox {
	vertical-align: middle;
	display: inline-block;
}

.iniBox .middleBox {
	padding-right: 5px;
	display: inline-block;
}

.inibox .imga {
	margin-right: 8px;
	display: block;
	cursor: pointer;
}

.imgi {
	height: 50px !important;
	width: 50px !important;
	display: block;
	border: 0;
	cursor: pointer;
}

.leftOptionBox {
	margin-top: 45px;
	display: block;
}

.uiCustom {
	list-style-type: none;
}

.liCustom {
	padding-right: 0;
	margin-left: -22px;
	width: 100%;
	display: list-item;
	margin-bottom: 20px;
	height: 22px;
}

.liCustom:hover {
	background-color: #ECE0F8;
}

.optionsA {
	display: block;
	min-height: 17px;
	line-height: 13px;
	padding: 3px 8px 0 28px;
	font-size: 15px;
}

.imgW {
	width: 18px;
	margin-left: -22px;
	margin-top: -1px;
	float: left;
}

.imgW2 {
	width: 18px;
	margin-left: -1px;
	margin-top: -1px;
	float: left;
}

.cajitaPerfil {
	background-color: #E6E6E6;
}

.cajitaFoto {
	margin-top: 10px;
	height: 250px
	
}

.divTitle {
	background-color: black;
	color: white;
	min-height: 50px;
	padding-left: 15px;
	font-size: 22px;
}

.divButton {
	background-color: white;
	color: black;
	height: 50px;
	padding-left: 15px;
	font-size: 22px;
	border-bottom: solid;
	border-left: solid;
	border-right: solid;
	border-color: #D8D8D8;
}

.divButton:hover {
	background-color: black;
	color: white;
}


.topBorder {
	border-top: solid;
	border-color: #D8D8D8;
}

.divComGrey {
	background-color: #E6E6E6;
	color: #000;
	height: 20px;
	font-size: 14px;
}

.divComWhite {
	background-color: #F5EFFB;
	color: #000;
	height: 40px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 16px;
	padding-top: 15px;
}

.divComWhite2 {
	background-color: #F5EFFB;
	color: #000;
	height: 45px;
	padding-left: 15px;
	font-size: 16px;
	padding-top: 13px;
	padding-bottom: 15px;
}

.divComWhiteBorder {
	background-color: #F5EFFB;
	height: 20px;
	padding-top: 15px;
	border-bottom: solid;
}

.fontN {
	font-size: 13px;
}

.perfilEditImg {
	margin-top: -5px;
	margin-left: 5px;
}

.perfImg {
	width: 100%;
	height:100%;
	max-height: 230px;
	max-width:228px;
}

.friendImg {
	height: 160px;
	width: 160px;
}

.imgRow {
	width: 100%;
	height: 206px;
}

.imgCel {
	width: 25%;
	padding-top: 10px;
	padding-right: 0px;
}

.firstImgCel {
	width: 25%;
	padding-top: 10px;
}

.discardButton {
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.divAlbumTemp {
	height: 40px;
	width: 160px;
	background-color: white;
	display: block;
	border-top: 1px solid;
	padding-left: 2px;
	padding-right: 2px;
}

.albumName {
	font-size: 11px;
}

.editButton
{
	background-image: url(../images/edit_icon.png);
	width: 24px;
	height: 24px;
}

.editButton:hover
{
	cursor: pointer;
}

.foto
{
     max-height:  150px;
     
}

.divDataAlbum
{
	width : 50%;
	
}

.divBuscador
{
	 margin-top: 100px;
	 width : 100%;
	 min-height: 400px;
	 background-color: white;
	 display: block;
	 padding-left: 15px;
	 padding-right: 15px;
	 padding-top: 15px;
	 padding-bottom: 15px;
}

.divBuscadorPrincipal
{
	 margin-top: 20px;
	 width : 85%;
	 min-height: 100%;
	 display: block;
	 margin-right:36px;
	 
}

.divBuscadorHeader
{
	 width : 40%;
	 display: block;
	 margin-top: 8px;
	 margin-left: 50px;
}


.tumbnail
{
	width: 15%;
	height: 88px;
	background-image: url(../images/folder.jpg);
	background-color: white;
	cursor: pointer;
	max-width: 80px;
	
}

.googleButton 
{
	margin-top:10px;
	width: 150px;
	margin-left:10px;
}

.facebookButton
{
	margin-top: 9px;
	font-size: 13px;
    line-height: 16px;
    padding: 5px 6px 3px;
    
    display: inline-block;
border-top: 1px solid #879ac0;
white-space: nowrap;
text-align: left;
border-collapse: collapse;
border-spacing: 0;
border-spacing: 2px;
border-color: gray;
color: #fff;
cursor: pointer;
background-color: #5b74a8;
height: 26px;
border-top: solid 1px #424242;
border-bottom: solid 1px #424242;
border-right: solid 1px #424242;

}

.facebookButtonLogo
{
	
cursor: pointer;
width: 24px;
height: 26px;
background-position: 0 -80px;
background-image: url(http://static.ak.fbcdn.net/rsrc.php/v2/yx/r/j_i0CTUUUEe.png);
background-size: auto;
background-repeat: no-repeat;
display: inline-block;
vertical-align: top;
margin-top:9px;
border-bottom: solid 1px #424242;
border-right: solid 1px #424242;

}

#customBtn {
      display: inline-block;
      background: #dd4b39;
      color: white;
      width: 165px;
      cursor: pointer;
      white-space: nowrap;
      margin-left: 10px;
      margin-top: 10px;
      border: #bb3f30 1px solid;
    }
    
    #customBtn:hover {
      background: #e74b37;
      cursor: hand;
    }
    
    span.label {
      font-weight: bold;
    }
    
    span.icon {
      background: url(../images/Red-signin_google.png) transparent 100% no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 35px;
      height: 23px;
      border-right: #bb3f30 1px solid;
    }
    
    span.buttonText {
      display: inline-block;
      vertical-align: middle;
      
      padding-right: 35px;
      font-size: 14px;
      font-weight: bold;
      /* Use the Roboto font that is loaded in the <head> */
     
    }
    
    #map-canvas {
        height: 400px;;
        width: 400px;;
        margin: 0px;
        padding: 0px;
        margin-left: 140px;
        
      }
      
      
  .div-userFriend
  {
      width: 40%;
      height: 150px;
      display: block;
      margin-left: 35px;
      float: left;
      
      padding-top: 20px;
      padding-left: 15px;
      padding-right: 10px;
      
      
  
  }
  
  .div-userFriend img
  {
     width: 40%; 
     height: 80%;
     float: left;
  }
  
  .div-userFriend span
  {
     font-size: 12px;
     color: #4C0B5F;
     
     
  }
  
  .founded-user-first
  {
      padding-top: 45px;
      padding-left: 10px;
      width: 100%;
      height: 100px;
  }
  
  .founded-user-next
  {
      padding-top: 8px;
      padding-left: 10px;
      width: 100%;
      height: 63px;
  }
  
  .founded-user-next img
  {
     width: 15%; 
     height: 80%;
     float: left;
  }
  
   .founded-user-first img
  {
     width: 10%; 
     height: 80%;
     float: left;
  }