@(listaAlbumes: List[Album],selectedUser: Usuario,dao: AlbumDAO,currentUser: Usuario)
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Freshbook</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Loading Bootstrap -->
<link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="assets/bootstrap/css/prettify.css" rel="stylesheet">

<!-- Loading Flat UI -->
<link href="assets/stylesheets/flat-ui.css" rel="stylesheet">

<link rel="shortcut icon" href="assets/images/favicon.png">
<link href="assets/stylesheets/pages.css" rel="stylesheet">

</head>
<body>
	<div class="header cfix">
		<div class="cfix log_bar">
			<div class="left">
				<img src="assets/images/head_log.png" width="120" height="43" />
			</div>
			
			
			<div id="friendship-div" class="divFriendship cfix left" >
			<img class="imgis left" src="assets/images/amistad.png" onclick="mostrarSolicitudesAmistad(@currentUser.getId)"/>
			     <div id="div-friendship-sol" style="overflow:auto;width:332px;background-color:#FFF;z-index:2;position:absolute;margin-top:35px;margin-left:-145px">
			        
			
			     </div>
			</div>
			
			<div class="divBuscadorHeader cfix left" style="margin-left:-125px;">
			     <input id="input-search" type="text" placeholder="Busca amigos en Freshbook" class="form-control input-sm flat left" style="border-radius:0px;width:85%" onkeyup="searchForFriends()" />
			     <button class="btn btn-primary right input-sm" style="border-radius:0px;margin-left:0px;width:15%">Buscar</button>
			     <div id="div-search-results" style="overflow:auto;width:332px;background-color:#FFF;border: solid 1px black;z-index:2;position:absolute;margin-top:25px">
			        
			
			     </div>
			</div>
			<div class="cfix headBox left" style="margin-left:120px;">
				<a class="imga left"  href="perfil/@currentUser.getId"> <img class="imgis"
					src=@currentUser.getFoto />
				</a>
				<div class="middleBox">
					<div class="innerBox" style="height: 40px"></div>
					<div class="innerBox">
						<a class="userName" style="color:#FFF" href="perfil/@currentUser.getId">@(currentUser.getPrimerNombre + " " + (currentUser.getSegundoNombre match {case Some(value) => value case _ => ""}) + " " + currentUser.getPrimerApellido + " " + (currentUser.getSegundoApellido match {case Some(value) => value case _ => ""})) </a>
					</div>
				</div>
				
			</div>
			
			
			<a href="#" onclick="index()"><img class="imgis left" src="assets/images/amistad.png" style="margin-left:20px" /></a>
			     
			
			
		</div>
	</div>


	<div class="contenedorGlobal cfix">
		<div class="clearfix">
			<div class="left">
				<div class="panel3">
					<div class="pvm divTitle">
						<div>
							<span style="font-size: 22px">@(selectedUser.getPrimerNombre + " " + (selectedUser.getSegundoNombre match {case Some(value) => value case _ => ""}) + " " + selectedUser.getPrimerApellido + " " + (selectedUser.getSegundoApellido match {case Some(value) => value case _ => ""}))</span>
						</div>
					</div>
					<div class="cajitaFoto">
						<div>
							<img class="perfImg"
								src=@selectedUser.getFoto />
						</div>
					</div>
					<a class="cfix" href="/principal">
						<div class="pvm topBorder divButton">
							<span style="font-size: 18px"><b>PRINCIPAL</b></span>
						</div>
					</a> 
					<a class="cfix" href="/perfil/@selectedUser.getId">
						<div class="pvm divButton">
							<span style="font-size: 18px"><b>PERFIL</b></span>
						</div>
					</a> 
					<a class="cfix" href="/amigos/@selectedUser.getId">
						<div class="pvm divButton">
							<span style="font-size: 18px"><b>AMIGOS</b></span>
						</div>
					</a> 
					<a class="cfix" href="/albumes/@selectedUser.getId">
						<div class="pvm divButton">
							<span style="font-size: 18px"><b>ALBUMES</b></span>
						</div>
					</a>
				</div>
				<!-- Panel izquierdo -->
			</div>

			<div class="panel4 right">
				<div class="cajitaPerfil">
					<div class="divTitle pvl">Albumes de @(selectedUser.getPrimerNombre + " " + (selectedUser.getSegundoNombre match {case Some(value) => value case _ => ""}) + " " + selectedUser.getPrimerApellido + " " + (selectedUser.getSegundoApellido match {case Some(value) => value case _ => ""}))
					   @if(selectedUser.getId == currentUser.getId){
					   
					  <a href="/crearAlbum"><button class="btn btn-primary right" style="margin-top:-5px;margin-right:5px;border-radius:0px">Nuevo Album</button></a>
					}
					</div>
					
						 @listaAlbumes.map { 
                    case (album) => {
                    	<div class="left firstImgCel">
                    	 	 <a href="/albumContent/0"> <img class="friendImg  relative"
								src= @album.getCaratula />
							</a>
							<div class="divAlbumTemp">
								<div>
									<span class="albumName">@album.getNombre</span>
								</div>
								<div>
									<span class="albumName">@dao.getNumberOfFilesInAlbum(album.getId) Archivos Multimedia</span>
								</div>
							</div>
							@if(selectedUser.getId == currentUser.getId){
							<div align="center" class="pvs">
								<a href="/deleteAlbum/@album.getId"><img title="Eliminar album" class="discardButton"
									src="assets/images/trash.png"  /></a>
							</div> 
							}
                        </div>
                    } 
                }

						
					
				</div>
			</div>
		</div>
		<!-- Panel derecho -->
	</div>

	
	<script src="assets/javascripts/jquery-1.8.3.min.js"
		type="text/javascript"></script>
	<script src="assets/javascripts/jquery-ui-1.10.3.custom.min.js"
		type="text/javascript"></script>
	<script src="assets/javascripts/jquery.ui.touch-punch.min.js"
		type="text/javascript"></script>
	<script src="assets/javascripts/bootstrap.min.js"
		type="text/javascript"></script>
	<script src="assets/javascripts/jquery.tagsinput.js"
		type="text/javascript"></script>
	<script src="assets/javascripts/jquery.placeholder.js"
		type="text/javascript"></script>
	<script src="assets/bootstrap/js/google-code-prettify/prettify.js"
		type="text/javascript"></script>
	<script src="assets/javascripts/application.js" type="text/javascript"></script>
	<script src="assets/javascripts/aplicacion.js" type="text/javascript"></script>
	
</body>
</html>