@(currentUser: Usuario)
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Freshbook</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Loading Bootstrap -->
<link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="assets/bootstrap/css/prettify.css" rel="stylesheet">

<!-- Loading Flat UI -->
<link href="assets/stylesheets/flat-ui.css" rel="stylesheet">

<link rel="shortcut icon" href="assets/images/favicon.png">
<link href="assets/stylesheets/pages.css" rel="stylesheet">


</head>

<body>
	<div class="header cfix">
		<div class="cfix log_bar">
			<div class="left">
				<img src="assets/images/head_log.png" width="120" height="43" />
			</div>
			
			
			<div id="friendship-div" class="divFriendship cfix left" >
			<img class="imgis left" src="assets/images/friendship.png" onclick="mostrarSolicitudesAmistad(@currentUser.getId)"/>
			     <div id="div-friendship-sol" style="overflow:auto;width:332px;background-color:#FFF;z-index:2;position:absolute;margin-top:35px;margin-left:-145px">
			        
			
			     </div>
			</div>
			
			<div class="divBuscadorHeader cfix left" style="margin-left:-125px;">
			     <input id="input-search" type="text" placeholder="Busca amigos en Freshbook" class="form-control input-sm flat left" style="border-radius:0px;width:85%" onkeyup="searchForFriends()" />
			     
			     <div id="div-search-results" style="overflow:auto;width:332px;background-color:#FFF;border: solid 1px black;z-index:2;position:absolute;margin-top:25px">
			        
			
			     </div>
			</div>
			<div class="cfix headBox left" style="margin-left:120px;">
				<a class="imga left"  href="perfil/@currentUser.getId"> <img class="imgis"
					src="http://graph.facebook.com/@currentUser.getFacebookId/picture" />
				</a>
				<div class="middleBox">
					<div class="innerBox" style="height: 40px"></div>
					<div class="innerBox">
						<a class="userName" style="color:#FFF" href="perfil/@currentUser.getId">@(currentUser.getPrimerNombre + " " + (currentUser.getSegundoNombre match {case Some(value) => value case _ => ""}) + " " + currentUser.getPrimerApellido + " " + (currentUser.getSegundoApellido match {case Some(value) => value case _ => ""})) </a>
					</div>
				</div>
				
			</div>
			
			
			<a href="#" onclick="index()"><img class="imgis left" src="assets/images/logout.png" style="margin-left:20px" /></a>
			     
			
			
		</div>
	</div>
	<!-- Header -->
	
	<div class="contenedorGlobal cfix">
		<div class="clearfix">
			<div class="left">
				<div class="panel3">
					<div class="pvm divTitle">
						<div>
							<span style="font-size: 22px">@(currentUser.getPrimerNombre + " " + (currentUser.getSegundoNombre match {case Some(value) => value case _ => ""}) + " " + currentUser.getPrimerApellido + " " + (currentUser.getSegundoApellido match {case Some(value) => value case _ => ""}))</span>
						</div>
					</div>
					<div id="div-photo-panel" class="photoPanel" style="width:225px;height:250px;display:block;margin-top: 15px; margin-bottom:15px;margin-left:4px">
				         <img src="http://graph.facebook.com/@currentUser.getFacebookId/picture?type=large" style="width: 99%; height: 100%;"/>
				      </div>
					<a class="cfix" href="/principal">
						<div class="pvm topBorder divButton">
							<span style="font-size: 18px"><b>PRINCIPAL</b></span>
						</div>
					</a> 
					<a class="cfix" href="/perfil/@currentUser.getId">
						<div class="pvm divButton">
							<span style="font-size: 18px"><b>PERFIL</b></span>
						</div>
					</a> 
					<a class="cfix" href="/amigos/@currentUser.getId">
						<div class="pvm divButton">
							<span style="font-size: 18px"><b>AMIGOS</b></span>
						</div>
					</a> 
					<a class="cfix" href="/albumes/@currentUser.getId">
						<div class="pvm divButton">
							<span style="font-size: 18px"><b>ALBUMES</b></span>
						</div>
					</a>
				</div>
				<!-- Panel izquierdo -->
			</div>

			<div class="panel4 right">
			  
			    <div class="divDataAlbum cfix left ">
			     
			       <input id="input-name" type="text" placeholder="Nombre del Album" class="form-control flat" maxlength="30" style="border-radius:0px"/>
			     
			     
			       <input id="input-description" type="text" placeholder="Descripción" class="form-control flat" maxlength="100" style="margin-top:10px;border-radius:0px" />
			       
			  </div>
			  
			 <img class="tumbnail left" src="assets/images/folder.jpg" style="margin-left:20px" />
			  
			  
			  
			  <div class="left" style="width:30%;margin-left:14px">
			    
			   <form name="newAlbumForm">
			   <label class="radio checked left">
                 <span class="icons" ><span class="first-icon fui-radio-unchecked"></span><span class="second-icon fui-radio-checked"></span></span><input type="radio" name="optionsRadios"  value="0" data-toggle="radio" checked="checked" >
                 Público
               </label>
               <label class="radio left" style="margin-top:10px;margin-left:10px">
                <span class="icons"><span class="first-icon fui-radio-unchecked"></span><span class="second-icon fui-radio-checked"></span></span><input type="radio" name="optionsRadios"  value="1" data-toggle="radio">
                  Solo Amigos
               </label>
               
               </form>
               
			     <div style="margin-right: 60px">
			       <button class="btn btn-primary right" style="border-radius:0px" onclick="createAlbum()">Guardar</button>
			     </div>  
			       
			  </div>
			  
			  
			  
			  <div class="divBuscador cfix">
			   
			     <input type="text" placeholder="Busca contenido multimedia" class="form-control left" style="border-radius:0px;width:89%"/>
			     <button class="btn btn-primary right" style="border-radius:0px;margin-left:0px;width:11%">Buscar</button>
			 
			  
			  </div>
			  
			</div>
		</div>
		<!-- Panel derecho -->
	</div>

	
	<script src="assets/javascripts/jquery-1.8.3.min.js"></script>
	<script src="assets/javascripts/jquery-ui-1.10.3.custom.min.js"></script>
	<script src="assets/javascripts/jquery.ui.touch-punch.min.js"></script>
	<script src="assets/javascripts/bootstrap.min.js"></script>
	<script src="assets/javascripts/bootstrap-select.js"></script>
	<script src="assets/javascripts/bootstrap-switch.js"></script>
	<script src="assets/javascripts/flatui-checkbox.js"></script>
	<script src="assets/javascripts/flatui-radio.js"></script>
	<script src="assets/javascripts/jquery.tagsinput.js"></script>
	<script src="assets/javascripts/jquery.placeholder.js"></script>
	<script src="assets/bootstrap/js/google-code-prettify/prettify.js"></script>
	<script src="assets/javascripts/application.js"></script>
	<script src="assets/javascripts/aplicacion.js"></script>
	<script src="assets/javascripts/FacebookLogout.js"></script>
	
</body>