<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<title>Bienvenido a Freshbook</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Loading Bootstrap -->
<link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="assets/bootstrap/css/prettify.css" rel="stylesheet">

<!-- Loading Flat UI -->
<link href="assets/stylesheets/flat-ui.css" rel="stylesheet">

<link rel="shortcut icon" href="assets/images/favicon.png">
<link href="assets/stylesheets/pages.css" rel="stylesheet">

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    

</head>

<body onclick="fadeError()" onload="initialize()">

	<div class="header">
		<div class="cfix log_bar">
			<div class="left">
				<img src="assets/images/head_log.png" width="120" height="43" />
			</div>
		</div>
	</div>
	<!-- Log container -->

	<div class="contenedorGlobal cfix">
		
			
				<div class="pvl" align="center" style="margin-left:-430px;">
					<span style="font-size: 36px">Seleccione su ubicación en el mapa</span>
				</div>
				<div id="form_box cfix" class="marginTM" align="center">
				
				   <div id="paneleft" class="left" style="width:50%">
				       <div id="map-canvas"></div>
				   </div>
				   <div id="panelRight" class="right" style="width:50%">
				       
				        
						<div class="divRow marginBM">
							<input type="text" class="input_largeW form-control"
								data-type="text" name="input-location" placeholder="Ubicación"
								id="input-location" style="border-radius: 0;font-size:15px;color:black" readonly="readonly" />
						</div>
						
						<div class="cfix marginTM">
							<button type="submit" class="btn btn-hg btn-primary marginTM"
								name="continuar-button" id="continuar-button" style="border-radius:0" onclick="goUserRegisterStep3()" >Continuar</button>
						</div>
					
				   </div>
				    
				</div>
		
	</div>
	<!-- Contenedor Global -->

	<div class="footer pvl">
		<div align="center">
			<span>Sweet Development 2013</span>
		</div>
	</div>
	<!-- Footer -->
	

	<script src="assets/javascripts/jquery-1.8.3.min.js"></script>
	<script src="assets/javascripts/jquery-ui-1.10.3.custom.min.js"></script>
	<script src="assets/javascripts/jquery.ui.touch-punch.min.js"></script>
	<script src="assets/javascripts/bootstrap.min.js"></script>
	<script src="assets/javascripts/bootstrap-select.js"></script>
	<script src="assets/javascripts/bootstrap-switch.js"></script>
	<script src="assets/javascripts/flatui-checkbox.js"></script>
	<script src="assets/javascripts/flatui-radio.js"></script>
	<script src="assets/javascripts/jquery.tagsinput.js"></script>
	<script src="assets/javascripts/jquery.placeholder.js"></script>
	<script src="assets/bootstrap/js/google-code-prettify/prettify.js"></script>
	<script src="assets/javascripts/application.js"></script>
	<script src="assets/javascripts/aplicacion.js"></script>
	<script src="assets/javascripts/googleMaps.js"></script>


</body>

</html>